.react-logo 
  transition: transform 0.5s ease-in-out
  
.animate-react-logo 
  animation: scaleAndRotate 1.5s forwards

.tech-stack
    text-align: center

@keyframes scaleAndRotate 
  0%
    transform: scale(1)
  
  25% 
    transform: scale(1.5) rotate(0deg)
  
  75% 
    transform: scale(1.5) rotate(360deg)
  
  100% 
    transform: scale(1) rotate(360deg)

img
    width: 40px
    margin-left: 1em
    scale: 1
    transition: scale 100ms ease-in-out
    &:hover:not(#nethaji-logo)
        scale: 1.5
        transition: scale 100ms ease-in-out

@media screen and (max-width:800px) 
    img:not(#nethaji-logo)
        width: 25px

.container
  display: flex
  flex-direction: column
  align-items: center
  flex: grow
  justify-content: center