.container
  margin: 0
  padding: 0
  display: flex
  width: 100vw
  height: 80vh
  flex-direction: column
  align-items: center
  justify-content: center
  &>div
    text-align: center

  h1
    font-size: 5em
.tech-stack
    text-align: center
    border-radius: 1em
    padding: 1em
    margin-top: 1em
    &>h3 
      margin-top: 0
      font-size: 1.5em


@keyframes scaleAndRotate 
  0%
    transform: scale(1)
  
  25% 
    transform: scale(1.5) rotate(0deg)
  
  75% 
    transform: scale(1.5) rotate(360deg)
  
  100% 
    transform: scale(1) rotate(360deg)

img
    width: 40px
    margin-left: 1em
    scale: 1
    transition: scale 100ms ease-in-out
    &:hover:not(#nethaji-logo,#error-image)
        scale: 1.5
        transition: scale 100ms ease-in-out

@media screen and (max-width:800px) 
    img:not(#nethaji-logo,#error-image)
        width: 5em
    .logo-container
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-row-gap: 2em
      justify-items: center

    h1
      font-size: 3em
